section.about-2
	.container
		.row
			.col-12.news-tab
				ul
					li
						a(href="#") Giới thiệu
					li
						a(href="#") Chính sách - Chiến lược
					li
						a(href="#") Sơ đồ tổ chức
					li
						a(href="#") Nguồn nhân lực
			.col-12.about-2-wrapper
				h2.main-title Chính sách - Chiến lược
				.row.no-gutters
					.col-lg-10.col-xl-8
						p Chính sách chất lượng, an toàn sức khỏe nghề nghiệp và môi trường của Công ty SDV:
						.imgbox
							img(src="/img/about/3.jpg", alt="")
				.row.no-gutters
					.col-lg-7.col-xl-6
						.textbox
							h4 Tầm nhìn
							p Trở thành công ty cung cấp dịch vụ cho khu công nghiệp, khu đô thị, khu dân cư… uy tín, chất lượng hàng đầu trong khu vực.
							br
							br
							h4 Sứ mệnh
							p Kinh doanh các dịch vụ nhằm phát triển thành một đơn vị hàng đầu trong việc cung cấp dịch vụ cho khu công nghiệp, khu đô thị, khu dân cư, góp phần vào sự phát triển kinh tế - xã hội của tỉnh Đồng Nai; đảm bảo việc làm và phúc lợi cho người lao động; góp phần tăng thu ngân sách và bảo vệ môi trường.
					.col-lg-5.col-xl-6
						.imgbox
							img(src="/img/about/4.jpg", alt="")

				.row.no-gutters
					.col-lg-7.col-xl-6
						.textbox
							h4 Tầm nhìn
							p Trở thành công ty cung cấp dịch vụ cho khu công nghiệp, khu đô thị, khu dân cư… uy tín, chất lượng hàng đầu trong khu vực.
							h4 Sứ mệnh
							p Kinh doanh các dịch vụ nhằm phát triển thành một đơn vị hàng đầu trong việc cung cấp dịch vụ cho khu công nghiệp, khu đô thị, khu dân cư, góp phần vào sự phát triển kinh tế - xã hội của tỉnh Đồng Nai; đảm bảo việc làm và phúc lợi cho người lao động; góp phần tăng thu ngân sách và bảo vệ môi trường.
					.col-lg-5.col-xl-6
						.imgbox
							img(src="/img/about/4.jpg", alt="")
