section.job-list
	.container
		h2.main-title Thông tin tuyển dụng
		.job-table
			table
				thead.thead
					tr
						th Vị trí ứng tuyển
						th Số lượng ứng tuyển
						th Địa điểm
						th Hạn nộp hồ sơ
				tbody.tbody
					tr
						td 
							a(href="#") Tuyển gấp nhân viên tạp vụ
						td 01
						td TP. Hồ Chí Minh
						td 15.05.2019
					tr
						td 
							a(href="#") Tuyển gấp nhân viên tạp vụ
						td 01
						td TP. Hồ Chí Minh
						td 15.05.2019
					tr
						td 
							a(href="#") Tuyển gấp nhân viên tạp vụ
						td 01
						td TP. Hồ Chí Minh
						td 15.05.2019
					tr
						td 
							a(href="#") Tuyển gấp nhân viên tạp vụ
						td 01
						td TP. Hồ Chí Minh
						td 15.05.2019
					tr
						td 
							a(href="#") Tuyển gấp nhân viên tạp vụ
						td 01
						td TP. Hồ Chí Minh
						td 15.05.2019