body, html
	font-family: 'Roboto', sans-serif
	font-weight: normal
	font-style: normal
	font-size: 16px
	line-height: 1.5
main
	@media (min-width: 992px)
		padding-top: 80px
.home-title
	font-size: 36px
	color: rgb(153, 153, 153)
	text-transform: uppercase
	text-align: center
	position: relative
	font-weight: 300
	margin-bottom: 2rem
	&:before
		content: ''
		position: absolute
		width: 80px
		height: 2px
		left: 50%
		transform: translateX(-50%)
		top: 100%
		background-image: linear-gradient( 0deg, rgb(0,180,219) 0%, rgb(0,120,174) 100%)


.main-title
	font-size: r(32px)
	font-weight: 500
	background: linear-gradient(to right, #007105 0%, #67b110 100%)
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent
	text-align: center
	text-transform: uppercase
	margin-bottom: 2rem


@keyframes spin
	0%
		transform: rotate(0deg)
	50%
		transform: rotate(180deg)
	100%
		transform: rotate(360deg)

.banner-icon
	position: absolute
	left: 50%
	transform: translateX(-50%)
	bottom: -33px
	width: 130px
	height: 56px
	background-image: url('../img/banner_icon.png')
	display: flex
	justify-content: center
	align-items: center
	padding-top: 14px
	img
		transform: translateX(3px) translateY(6px)
		animation: spin 7s linear infinite

.news-tab
	padding-bottom: 40px
	ul
		display: flex
		justify-content: center
		margin-bottom: 0
		padding-left: 0
		list-style-type: none
		li
			a
				padding: 0 1rem
				display: flex
				font-size: r(14px)
				font-weight: 400
				color: lighten(black,20%)
			+ li
				border-left: 1px solid darken(white,20%)
			&:hover, &.active
				a
					text-decoration: none
					color: map-get($mau, main)
