.banner-page
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				a(href="javascript:void(0)")
					img(src="./img/banner/1.jpg", alt="")
			.swiper-slide
				a(href="javascript:void(0)")
					img(src="./img/banner/1.jpg", alt="")
			.swiper-slide
				a(href="javascript:void(0)")
					img(src="./img/banner/1.jpg", alt="")