section.news-list
	.container
		.row
			.col-12.news-tab
				ul
					li
						a(href="#") Tin tức
					li.active
						a(href="#") Tin nội bộ
					li
						a(href="#") Hỏi đáp
			.col-12.news-list-wrapper
				h2.main-title tin hoạt động
				.row
					.col-lg-6.big
						a.item(href="news-detail.html")
							figure
								.imgbox
									img(src='./img/news/1.jpg', alt='')
								figcaption
									time  08/06/2018
									h5 Những yếu tố quan tâm hàng đầu khi đầu tư vào thị trường căn hộ hiện nay
									p Chuyến đi không những đã để lại nhiều kỷ niệm đẹp mà còn giúp giao lưu, gắn kết các bạn Đoàn viên trong chi Đoàn với nhau. Để từ đó, Đoàn thanh niên... Công ty Cổ phần Dịch vụ Sonadezi hứa sẽ quyết tâm cùng nhau thi đua lao động, rèn luyện để góp phần đưa công ty SDV nói riêng và đất nước nói chung ngày càng phát triển hơn nữa.
					.col-lg-6.big-side
						a.item(href="news-detail.html")
							figure
								.imgbox
									img(src='./img/news/1.jpg', alt='')
								figcaption
									time  08/06/2018
									h5 Sức hấp dẫn của thị trường bất động sản Mũi Né
									p Để hưởng ứng Ngày môi trường thế giới, hàng năm, Công ty Cổ phần dịch vụ... Sonadezi (SDV) đã tổ chức lễ trồng cây tại Khu xử lý chất thải Quang Trung. 
						a.item(href="news-detail.html")
							figure
								.imgbox
									img(src='./img/news/1.jpg', alt='')
								figcaption
									time  08/06/2018
									h5 Sức hấp dẫn của thị trường bất động sản Mũi Né
									p Để hưởng ứng Ngày môi trường thế giới, hàng năm, Công ty Cổ phần dịch vụ... Sonadezi (SDV) đã tổ chức lễ trồng cây tại Khu xử lý chất thải Quang Trung. 
				.row.small
					- for (var x = 1; x < 4; x++)
						.col-md-4
							a.item(href="news-detail.html")
								figure
									.imgbox
										img(src='./img/news/1.jpg', alt='')
									figcaption
										time  08/06/2018
										h5 Những yếu tố quan tâm hàng đầu khi đầu tư vào thị trường căn hộ hiện nay
										p Để hưởng ứng Ngày môi trường thế giới, hàng năm, Công ty Cổ phần dịch vụ... Sonadezi (SDV) đã tổ chức lễ trồng cây tại Khu xử lý chất thải Quang Trung. 
