section.home-2
	.container
		h2.home-title Dịch vụ nổi bật
		.row
			.col-12
				.slide-wrapper
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								a(href="#")
									figure
										.imgbox
											img(src="./img/home/1.jpg", alt="")
										figcaption
											h4 Xử lý chất thải
							.swiper-slide
								a(href="#")
									figure
										.imgbox
											img(src="./img/home/1.jpg", alt="")
										figcaption
											h4 Xử lý chất thải
							.swiper-slide
								a(href="#")
									figure
										.imgbox
											img(src="./img/home/1.jpg", alt="")
										figcaption
											h4 Xử lý chất thải
					.swiper-pagination
						span.swiper-button-prev
						span.swiper-button-next