section.home-2
	.container
		h2.home-title Dịch vụ nổi bật
		.row
			.col-12
				.rev_slider_wrapper
					.home-service.rev_slider
						ul
							li 
								a
									figure
										.imgbox
											img(src="./img/home/1.jpg", alt="")
										figcaption
											h4 Xử lý chất thải
							li 
								a
									figure
										.imgbox
											img(src="./img/home/1.jpg", alt="")
										figcaption
											h4 Xử lý chất thải
							li 
								a
									figure
										.imgbox
											img(src="./img/home/1.jpg", alt="")
										figcaption
											h4 Xử lý chất thải
