<?xml version="1.0" encoding="utf-8" ?>
<templates>
	<newstype name="Tin tức" value="0"></newstype>
	<!--<showoption name="Icon new" value="1"></showoption>-->

	<templatelist xsltname="Sona-News-List.xslt" name="Danh sách tin tức"></templatelist>
	<templatelist xsltname="Sona-Job-List.xslt" name="Danh sách tuyển dụng"></templatelist>
	<templatelist xsltname="Sona-Ebrochure-List.xslt" name="Danh sách Ebrochure"></templatelist>

	<templatedetail xsltname="Sona-News-Detail.xslt" name="Chi tiết tin tức"></templatedetail>
	<templatedetail xsltname="Sona-Job-Detail.xslt" name="Chi tiết tuyển dụng"></templatedetail>
	<templatedetail xsltname="Sona-Ebrochure-Detail.xslt" name="Chi tiết Ebrochure"></templatedetail>

	<position>
		<!--<add name="Trang chủ" value="1" resourcefile="" />-->
	</position>
</templates>
