<?xml version="1.0" encoding="utf-8" ?>
<templates>
	<newstype name="Tin tức" value="0"></newstype>
	<!--<showoption name="Icon new" value="1"></showoption>-->

	<templatelist xsltname="Sona-News-List.xslt" name="Danh sách tin tức"></templatelist>
	<templatelist xsltname="Sona-Job-List.xslt" name="Danh sách tuyển dụng"></templatelist>
	<templatelist xsltname="Sona-Ebrochure-List.xslt" name="Danh sách Ebrochure"></templatelist>
	<templatelist xsltname="Sona-Service-Detail.xslt" name="Danh sách Service"></templatelist>

	<templatedetail xsltname="Sona-News-Detail.xslt" name="Chi tiết tin tức"></templatedetail>
	<templatedetail xsltname="Sona-Job-Detail.xslt" name="Chi tiết tuyển dụng"></templatedetail>
	<templatedetail xsltname="Sona-Ebrochure-Detail.xslt" name="Chi tiết Ebrochure"></templatedetail>
	<templatedetail xsltname="Sona-Service-Detail.xslt" name="Chi tiết Service"></templatedetail>

	<position>
		<add name="Trang chủ - Tin tức sự kiện" value="1" resourcefile="" />
		<add name="Trang chủ - Tin tức sự kiện - tab 1" value="2" resourcefile="" />
		<add name="Trang chủ - Tin tức sự kiện - tab 2" value="4" resourcefile="" />
		<add name="Trang chủ - Tin tức sự kiện - tab 3" value="8" resourcefile="" />
	</position>
</templates>
