section.ebrochure-list
	article
		.container
			.row
				.col-12.news-tab
					ul
						li
							a(href="#") Tin tức
						li.active
							a(href="#") Tin nội bộ
						li
							a(href="#") Hỏi đáp
				.col-12
					h2.main-title quản lý chất thải
					.table-responsive
						table
							thead
								tr
									th
									th
										span Ngày Đăng
									th
										span Tải về
							tbody
								tr
									td
										a(href="javascript:void(0)")
											span.fas.fa-file-alt
											span Tài liệu giới thiệu các ứng dụng văn phòng và internet để hỗ trợ tập huấn kỹ năng CNTT 
									td
										span 15/05/2019
									td
										a(href="javascript:void(0)")
											span.fas.fa-download
								tr
									td
										a(href="javascript:void(0)")
											span.fas.fa-file-alt
											span Tài liệu giới thiệu các ứng dụng văn phòng và internet để hỗ trợ tập huấn kỹ năng CNTT 
									td
										span 15/05/2019
									td
										a(href="javascript:void(0)")
											span.fas.fa-download
								tr
									td
										a(href="javascript:void(0)")
											span.fas.fa-file-alt
											span Tài liệu giới thiệu các ứng dụng văn phòng và internet để hỗ trợ tập huấn kỹ năng CNTT 
									td
										span 15/05/2019
									td
										a(href="javascript:void(0)")
											span.fas.fa-download
								tr
									td
										a(href="javascript:void(0)")
											span.fas.fa-file-alt
											span Tài liệu giới thiệu các ứng dụng văn phòng và internet để hỗ trợ tập huấn kỹ năng CNTT 
									td
										span 15/05/2019
									td
										a(href="javascript:void(0)")
											span.fas.fa-download
								tr
									td
										a(href="javascript:void(0)")
											span.fas.fa-file-alt
											span Tài liệu giới thiệu các ứng dụng văn phòng và internet để hỗ trợ tập huấn kỹ năng CNTT 
									td
										span 15/05/2019
									td
										a(href="javascript:void(0)")
											span.fas.fa-download
								tr
									td
										a(href="javascript:void(0)")
											span.fas.fa-file-alt
											span Tài liệu giới thiệu các ứng dụng văn phòng và internet để hỗ trợ tập huấn kỹ năng CNTT 
									td
										span 15/05/2019
									td
										a(href="javascript:void(0)")
											span.fas.fa-download
								tr
									td
										a(href="javascript:void(0)")
											span.fas.fa-file-alt
											span Tài liệu giới thiệu các ứng dụng văn phòng và internet để hỗ trợ tập huấn kỹ năng CNTT 
									td
										span 15/05/2019
									td
										a(href="javascript:void(0)")
											span.fas.fa-download
				.pages.newspager
					.modulepager
						ul.pagination
							li.PagerCurrentPageCell.active
								span.SelectedPage 1
							li.PagerOtherPageCells
								a.ModulePager 2
							li.PagerOtherPageCells
								a.ModulePager 3
							li.PagerOtherPageCells
								a.ModulePager.NextPage ›
							li.PagerOtherPageCells
								a.ModulePager.LastPage »