.page-banner
	.banner-img
		img(src="./img/banner/2.jpg", alt="")
	.banner-icon
		img(src="./img/banner_icon_2.png", alt="")
	.breadcrumb-wrapper
		.Module.container
			ol.breadcrumb
				li
					a(href="#")
						span Trang chủ
				li
					a(href="#")
						span Sản Phẩm Thời Trang