section.news-detail
	.container
		.row
			.col-lg-9.content
				.textbox
					h1 Công ty Cổ phần Dịch vụ Sonadezi kỷ niệm 11 năm ngày thành lập (15/05/2007 – 15/05/2018)
					p Ngày 15/5/2018, nhân dịp kỷ niệm 11 năm ngày thành lập (15/5/2007 – 15/5/2018), toàn thể cán bộ nhân viên Công ty Cổ phần Dịch vụ Sonadezi (SDV) đã có buổi Họp mặt với sự tham dự của Đại diện Ban Lãnh đạo Tổng Công ty Sonadezi, Ban Lãnh đạo công ty SDV, các khách mời thuộc các Công ty thành viên và các đối tác nhà thầu. Sự kiện đánh dấu những nỗ lực bước đầu trong một giai đoạn phát triển mới của tập thể Ban lãnh đạo, CB-CNV SDV. Với nỗ lực của mình, SDV đã từng bước vững vàng hơn để trở thành một đơn vị hàng đầu trong lĩnh vực dịch vụ môi trường của KCN nói riêng và của tỉnh Đồng Nai nói chung.
					p Sự kiện Lễ giới thiệu dự án Saigon Skyview đã thu hút sự tham gia của hơn 500 nhân viên kinh doanh đến từ nhiều đơn vị đại lý liên kết và phân phối dự án. Dự án Saigon Skyview là sản phẩm phù hợp với nhu cầu về nhà ở và đầu tư của khách hàng khi đây là dự án hiếm hoi trên thị trường sở hữu vị trí đắc địa với 4 mặt tiền đường, tọa lạc ngay khu vực có hạ tầng phát triển hoàn thiện với những tiềm năng khu vực cao.
				.news-related
					h3 Tin liên quan
					.row.item-related-wrapper
						.col-6.col-md-4
							a.item(href="#")
								figure
									.imgbox
										img(src="", alt="")
									figcaption
										h4 SDV trao 2 căn nhà tình thương cho hộ nghèo xã Quang Trung
						.col-6.col-md-4
							a.item(href="#")
								figure
									.imgbox
										img(src="", alt="")
									figcaption
										h4 SDV trao 2 căn nhà tình thương cho hộ nghèo xã Quang Trung
						.col-6.col-md-4
							a.item(href="#")
								figure
									.imgbox
										img(src="", alt="")
									figcaption
										h4 SDV trao 2 căn nhà tình thương cho hộ nghèo xã Quang Trung
			.col-lg-3.other-news
				.other-news-title
					h3 Tin nội bộ
				.list
					a.item(href="#")
						figure
							.imgbox
								img(src="#", alt="")
							figcaption
								h5 Tuyển gấp nhân viên tạp vụ làm việc tại Biên Hoà
					a.item(href="#")
						figure
							.imgbox
								img(src="#", alt="")
							figcaption
								h5 Tuyển gấp nhân viên tạp vụ làm việc tại Biên Hoà
					a.item(href="#")
						figure
							.imgbox
								img(src="#", alt="")
							figcaption
								h5 Tuyển gấp nhân viên tạp vụ làm việc tại Biên Hoà
					a.item(href="#")
						figure
							.imgbox
								img(src="#", alt="")
							figcaption
								h5 Tuyển gấp nhân viên tạp vụ làm việc tại Biên Hoà