section.job-detail
	.container
		.row
			.col-lg-9.textbox
				h1 Tuyển dụng nhân viên kinh doanh
				time 30/12/2018
				h4 Thông tin tuyển dụng
				p Vị trí tuyển dụng: Nhân viên kinh doanh
				p Chức vụ: Nhân viên
				p Yêu cầu giới tính: Nam
				p Địa điểm làm việc: Thành phố Hồ Chí Minh
				p Yêu cầu độ tuổi: Không yêu cầu
				p Mức lương: 5-7 triệu
				p Bằng cấp tối thiểu: Trung cấp
				p Số lượng cần tuyển: 3
				p Hình thức làm việc: Toàn thời gian cố định
				p Kinh nghiệm tối thiểu: 1 năm
				h4 Mô tả công việc
				ul
					li Làm việc tại Biên Hoà
					li Thời gian làm việc bắt đầu từ 18h
					li Duy trì những quan hệ kinh doanh hiện có, tìm kiếm khách hàng mới, khách hàng tiềm năng;
					li Lập kế hoạch công tác tuần, báo cáo hàng ngày cho Giám sát kinh doanh
					li Hiểu rõ và thuộc tính năng, bao bì, giá, ưu nhược điểm của sản phẩm, sản phẩm tương tự, sản phẩm của đối thủ cạnh tranh.
					li Nắm được quy trình tiếp xúc khách hàng, quy trình xử lý khiếu nại thông tin, quy trình nhận và giải quyết thông tin khách hàng 
					li Tiếp xúc khách hàng và ghi nhận toàn bộ các thông tin của khách hàng trong báo cáo tiếp xúc khách hàng. 
					li Báo cáo nội dung tiếp xúc khách hàng trong ngày cho Giám sát kinh doanh.
					li Nhận và xử lý các khiếu nại của khách hàng về chất lượng sản phẩm, thời gian giao hàng…
					li Chăm sóc khách hàng
				table
					tr
						th Hạn nộp hồ sơ
						td 15/05/2019
					tr
						th 30/12/2018
						td Mọi hình thức
					tr
						th Ngày đăng tuyển
						td Hình thức nộp hồ sơ
				h4 Thông tin liên hệ
				p Người liên hệ: Phòng Nhân Sự
				p Địa chỉ: Tầng 8 Tòa nhà Sonadezi, số 1, đường 1, KCN Biên Hòa, P. An Bình, Tp. Biên Hòa, Tỉnh Đồng Nai
				p Email: sdv@sonadezi-sdv.com.vn
				p Điện thoại: (061) 8890 888/ 777
				.apply-download
					a.download(href="#") Tải mẫu đơn xin việc
					#applyToggle.apply Ứng tuyển ngay
				.apply-form
			.col-lg-3.other-jobs
				.other-job-title
					h3 Tin tuyển dụng khác
				.list
					a.item(href="#")
						time 30/12/2018
						h5 Tuyển gấp nhân viên tạp vụ làm việc tại Biên Hoà
					a.item(href="#")
						time 30/12/2018
						h5 Tuyển gấp nhân viên tạp vụ làm việc tại Biên Hoà
					a.item(href="#")
						time 30/12/2018
						h5 Tuyển gấp nhân viên tạp vụ làm việc tại Biên Hoà
					a.item(href="#")
						time 30/12/2018
						h5 Tuyển gấp nhân viên tạp vụ làm việc tại Biên Hoà