section.service-page
	.container
		h2.main-title Dịch vụ xử lý chất thải
		.row.fullContent
			.col-sm-10.col-lg-8
				img(src="./img/service/dt_1.png", alt="")
				p Thực hiện yêu cầu của UBND Tỉnh và Sở TNMT Tỉnh Đồng Nai, Công ty SDV đang vận hành xử lý rác thải sinh hoạt liên Huyện tại Trạm tái chế rác thải làm mùn compost khối lượng khoảng 400 tấn/ ngày (công suất tối đa 1.200 tấn/ ngày) với tổng vốn đầu tư gần 200 tỷ đồng, tổng diện tích nhà xưởng (phân loại, ủ, tinh chế, lưu mùn,...) trên 31.600 m2. Với công nghệ được nhập khẩu nguyên đai nguyên kiện từ Châu Âu, được huấn luyện, đào tạo và chuyển giao bởi các chuyên gia có năng lực và kinh nghiệm từ Bỉ, Trạm tái chế rác thải sinh hoạt làm mùn compost có khả năng xử lý triệt để rác thải sinh hoạt, đảm bảo tỷ lệ rác trơ chôn lấp dưới 15%, thân thiện, không gây ô nhiễm môi trường. Hệ thống đã được Bộ Tài nguyên và Môi trường phê duyệt và cấp phép theo qui định. 
				p Trên 80% rác hữu cơ trong rác thải đầu vào sau khi được phân loại tại Trạm sẽ chuyển tới các xưởng ủ hiếu khí để sản xuất mùn compost, là nguyên liệu chính cho đối tác sản xuất phân hữu cơ bón cho cây trồng hoặc cải tạo chất lượng đất, còn lại dưới 5% rác tái chế được thu hồi tái chế, tái sử dụng.
				p Đối với phần rác thải trơ không thể tái chế (dưới 15%) được chôn lấp tại ô chôn lấp hợp vệ sinh và được che phủ hàng ngày bằng vải bạt 3 lớp LDPE/HDPE/LDPE.
				h4 Xử lý chất thải công nghiệp (bao gồm không nguy hại và nguy hại):
				h5 Quy trình cung cấp dịch vụ xử lý chất thải công nghiệp 
				h6 a. Khảo sát sơ bộ hoạt động quản lý chất thải:
				ul
					li Từ các thông tin thu thập từ việc khảo sát kho chứa, bao bì, tình hình lưu chứa và chủng loại chất thải, đội ngũ nhân viên sẽ đưa ra các tư vấn phù hợp với hoạt động quản lý chất thải tại doanh nghiệp đảm bảo an toàn và tuân thủ quy định.
					li Cung cấp hướng dẫn về bao bì và nhãn dán phù hợp với tính chất từng loại chất thải; đặc biệt với nguy hại sẽ kèm theo các cảnh báo rủi ro, hướng dẫn an toàn khi phân loại, lưu trữ các loại chất thải nguy hại.
					li Trong các trường hợp cần thiết, công ty SDV sẽ thực hiện kiểm tra phân tích tính chất, thành phần chất thải để đưa ra các đề xuất phù hợp về phương án xử lý với đơn giá tối ưu. Mẫu chất thải được chuyển đến phân tích tại Phòng Kiểm soát, phân tích và thí nghiệm đạt chuẩn ISO/IEC 17025 (mã số Vilas 310) và được chứng nhận “Đủ điều kiện hoạt động dịch vụ quan trắc môi trường” (số hiệu VIMCERT 031) - một trong những bộ phận cấu thành của hệ thống cơ sở quản lý chất thải nguy hại của công ty SDV.
				h6 b. Xác lập cam kết với khách hàng:
				ul 
					li Dựa trên các quy định của luật định và yêu cầu khác từ chủ nguồn thải, công ty sẽ xác nhận các cam kết về chất lượng dịch vụ và giá trị dịch vụ với khách hàng.
				h6 c. Thu gom và vận chuyển chất thải công nghiệp
				ul
					li Dựa vào kết quả khảo sát hoạt động quản lý chất thải và các cam kết với chủ nguồn thải về dịch vụ, công ty cùng chủ nguồn thải sẽ thống nhất thời điểm giao nhận chất thải. 
					li Suốt quá trình thực hiện giao nhân chất thải, công ty sẽ kiểm soát quá trình vận chuyển đảm bảo không được làm rơi vãi, gây phát tán bụi, mùi hoặc rò rỉ ra môi trường bên ngoài. Với chất thải nguy hại, công ty SDV cam kết vận chuyển bằng phương tiện phù hợp được cấp phép.
					li Đội ngũ nhân viên kiểm soát chất thải được trang bị đầy đủ thiết bị và phương tiện chuyên dụng, được đào tạo bài bản trong việc phân loại, thu gom và tư vấn chứng từ chất thải nguy hại cũng như luôn có thái độ đúng đắn và hành xử chuyên nghiệp trong suốt quá trình thu gom chất thải nguy hại.
					li Khách hàng được cung cấp thông tin vận chuyển bao gồm thông tin chi tiết về tài xế, số xe và lộ trình vận chuyển chất thải nguy hại thực tế trực tuyến trước mỗi lần thu gom để đảm bảo việc theo dõi, kiểm tra chính xác tại phòng làm việc thông qua hệ thống giám sát trực tuyến.
				h6 d. Phân loại và lưu trữ tiền xử lý chất thải công nghiệp 
				ul
					li Khu vực phân loại và lưu trữ tiền xử lý chất thải có tổng diện tích 6.248 m2 (2 kho x 3.024 m2/ mỗi kho và 1 kho x 200 m2) với khả năng tiếp nhận và tiền xử lý khối lượng chất thải lên đến 50 tấn/ngày gồm các kho chứa có mái che, tường bao, rãnh thu, bãi chứa chất thải được trang bị sàn chống thấm và bãi đậu xe chờ bốc dỡ chất thải. Tất cả những khu vực này đều được được kiểm soát vận hành an toàn và trang bị hệ thống phòng cháy chữa cháy và chiếu sáng phù hợp với quy định. 
				h6 e. Xử lý chất thải công nghiệp
				ul
					li Từ khu phân loại và lưu trữ tiền xử lý chất thải, chất thải được kiểm tra, phân tích, đánh giá tính chất vật lý, hóa học và sau đó phân phối đến các hạng mục xử lý hoặc tái chế chất thải phù hợp, đúng với phương pháp xử lý đã cam kết với chủ nguồn thải. 
				h5 Quy trình quản lý chất thải công nghiệp:
				h6 Tư vấn giải pháp và thực hiện tiêu hủy hàng hóa theo yêu cầu:
				h6 Công ty SDV nhận tư vấn các giải pháp và thực hiện tiêu hủy theo yêu cầu của khách hàng đối với các chủng loại:
				ul
					li Hàng hóa và nguyên vật liệu không còn nhu cầu sử dụng, tồn kho, quá hạn sử dụng hoặc sản phẩm bị lỗi; 
					li Hàng thực phẩm tồn kho, hết hạn sử dụng;
					li Hàng giả, hàng không rõ nguồn gốc xuất xứ;
					li Tài liệu hết giá trị lưu trữ, tài liệu cần hủy, tài liệu không sử dụng. 
				h6 Trình tự cung cấp dịch vụ tiêu hủy hàng hóa:
		.row.no-gutters
			.col-12.Attributes
				.item
					.textbox
						h5 1
						ul
							li Thu thập dữ liệu, danh mục hàng hóa cần tiêu hủy từ khách hàng.
							li Đánh giá tình trạng và lập phương án thu gom, xử lý sơ bộ theo dữ liệu khách hàng cung cấp
				.item
					.textbox
						h5 2
						ul
							li Cùng với khách hàng kiểm kê số lượng, chất lượng lưu chứa hàng hóa, tính sẵn sàng và thuận tiện cho công tác thu gom, vận chuyển
							li Thực hiện lấy mẫu đại diện các chủng loại hàng hóa đặc thù khi cần thiết
			.col-12.Attributes
				.item
					.textbox
						h5 3
						ul
							li Cùng với khách hàng kiểm kê số lượng, chất lượng lưu chứa hàng hóa, tính sẵn sàng và thuận tiện cho công tác thu gom, vận chuyển
							li Thực hiện lấy mẫu đại diện các chủng loại hàng hóa đặc thù khi cần thiết
				.item
					.textbox
						h5 4
						ul
							li Cùng với khách hàng kiểm kê số lượng, chất lượng lưu chứa hàng hóa, tính sẵn sàng và thuận tiện cho công tác thu gom, vận chuyển
							li Thực hiện lấy mẫu đại diện các chủng loại hàng hóa đặc thù khi cần thiết
			.col-12.Attributes
				.item
					.textbox
						h5 5
						ul
							li Cùng với khách hàng kiểm kê số lượng, chất lượng lưu chứa hàng hóa, tính sẵn sàng và thuận tiện cho công tác thu gom, vận chuyển
							li Thực hiện lấy mẫu đại diện các chủng loại hàng hóa đặc thù khi cần thiết
				.item
					.textbox
						h5 6
						ul
							li Cùng với khách hàng kiểm kê số lượng, chất lượng lưu chứa hàng hóa, tính sẵn sàng và thuận tiện cho công tác thu gom, vận chuyển
							li Thực hiện lấy mẫu đại diện các chủng loại hàng hóa đặc thù khi cần thiết
			.col-12.Attributes
				.item
					.textbox
						h5 7
						ul
							li Cùng với khách hàng kiểm kê số lượng, chất lượng lưu chứa hàng hóa, tính sẵn sàng và thuận tiện cho công tác thu gom, vận chuyển
							li Thực hiện lấy mẫu đại diện các chủng loại hàng hóa đặc thù khi cần thiết
				.item
					.textbox
						h5 8
						ul
							li Cùng với khách hàng kiểm kê số lượng, chất lượng lưu chứa hàng hóa, tính sẵn sàng và thuận tiện cho công tác thu gom, vận chuyển
							li Thực hiện lấy mẫu đại diện các chủng loại hàng hóa đặc thù khi cần thiết
			.col-12.Attributes
				.item
					.textbox
						h5 9
						ul
							li Cùng với khách hàng kiểm kê số lượng, chất lượng lưu chứa hàng hóa, tính sẵn sàng và thuận tiện cho công tác thu gom, vận chuyển
							li Thực hiện lấy mẫu đại diện các chủng loại hàng hóa đặc thù khi cần thiết
				.item
					.textbox
						h5 10
						ul
							li Cùng với khách hàng kiểm kê số lượng, chất lượng lưu chứa hàng hóa, tính sẵn sàng và thuận tiện cho công tác thu gom, vận chuyển
							li Thực hiện lấy mẫu đại diện các chủng loại hàng hóa đặc thù khi cần thiết
			.col-12.Attributes
				.item
					.textbox
						h5 11
						ul
							li Cùng với khách hàng kiểm kê số lượng, chất lượng lưu chứa hàng hóa, tính sẵn sàng và thuận tiện cho công tác thu gom, vận chuyển
							li Thực hiện lấy mẫu đại diện các chủng loại hàng hóa đặc thù khi cần thiết
				.item
					.textbox
						h5 12
						ul
							li Cùng với khách hàng kiểm kê số lượng, chất lượng lưu chứa hàng hóa, tính sẵn sàng và thuận tiện cho công tác thu gom, vận chuyển
							li Thực hiện lấy mẫu đại diện các chủng loại hàng hóa đặc thù khi cần thiết
			.col-12.Attributes
				.item
					.textbox
						h5 11
						ul
							li Cùng với khách hàng kiểm kê số lượng, chất lượng lưu chứa hàng hóa, tính sẵn sàng và thuận tiện cho công tác thu gom, vận chuyển
							li Thực hiện lấy mẫu đại diện các chủng loại hàng hóa đặc thù khi cần thiết
		.row.briefContent
			.col-sm-10.col-lg-8
				h5 Tải tài liệu:
				a(href="#") Giấy phép xử lý chất thải nguy hại của Công ty Cổ phần Dịch vụ Sonadezi Mã số QLCTNH: 5.100.VX (cấp lần 2) ngày 10/07/2018 do Bộ Tài nguyên và Môi trường cấp Mẫu hợp đồng xử lý chất thải.
				a(href="#") Quy cách đóng gói và lưu giữ chất thải nguy hại.
				a(href="#") Biểu mẫu nhãn cảnh báo chất thải nguy hại.

