header.cc-header
	.container
		.row.no-gutters
			.logo-wrapper
				a(href="/")
					img(src="./img/logo.png", alt="Logo")
			.menu-wrapper
				.top
					.searchbox
						input(type="text")
						button
					.language
						.current
							span VN
							span.lnr.lnr-chevron-down
						.dropdown
							a(href="#") VN
							a(href="#") EN
				.bottom
					.ul-wrapper#customHover
						ul
							li
								a(href="#") Giới thiệu
							li.active
								a(href="#") Dịch vụ
							li
								a(href="#") Thông tin cổ đông
							li
								a(href="#") Tin tức
							li
								a(href="#") Tuyển dụng
							li
								a(href="#") E-Brochure
							li
								a(href="#") Hóa đơn điện tử
							li
								a(href="#") Liên hệ
						span.hoverThumb#hoverThumb
