section.about-1
	.container
		.row
			.col-12.news-tab
				ul
					li
						a(href="#") Giới thiệu
					li
						a(href="#") Chính sách - Chiến lược
					li
						a(href="#") Sơ đồ tổ chức
					li
						a(href="#") Nguồn nhân lực
			.col-12.about-1-wrapper
				h2.main-title Giới thiệu về Công ty CP Dịch vụ Sonadezi
				.row.no-gutters
					.col-xl-6.col-lg-5
						.imgbox
							img(src="/img/about/1.jpg", alt="")
					.col-xl-6.col-lg-7
						.textbox
							p Công ty Cổ phần dịch vụ Sonadezi (tên viết tắt là SDV) - một thành viên thuộc Tổng công ty Phát triển Khu công nghiệp (Sonadezi) - được thành lập với sứ mệnh thực hiện công tác bảo vệ môi trường để hướng tới mục tiêu phát triển bền vững đối với các hoạt động xây dựng và vận hành các KCN do tổ hợp Sonadezi đầu tư nói riêng và các doanh nghiệp trên địa bàn tỉnh Đồng Nai nói chung. 
							br
							i Trong hơn 11 năm hoạt động, SDV đã từng bước lớn mạnh và khẳng định được vị thế trong lĩnh vực xử lý môi trường bằng năng lực “lõi” là dịch vụ xử lý nước thải tại các khu công nghiệp. Phát huy những thành quả đạt được từ dịch vụ xử lý nước thải, năm 2009, SDV đã tiến hành đầu tư Dự án Khu XLCT rắn tập trung có quy mô 130 ha tại xã Quang Trung, huyện Thống Nhất. Dự án KCL Chất thải Quang Trung, với số vốn đầu tư ban đầu tư khoảng 355 tỷ đồng (năm 2017, dự án đã được điều chỉnh tổng vốn đầu tư khoảng 650 tỷ). Đây được xem là bước ngoặt lớn, khởi đầu cho giai đoạn mở rộng lĩnh vực hoạt động, đa dạng hóa sản phẩm, dịch vụ bảo vệ môi trường của SDV. 
				.row.no-gutters
					.col-xl-6.col-lg-5
						.imgbox
							img(src="/img/about/1.jpg", alt="")

					.col-xl-6.col-lg-7
						.textbox
							p Công ty Cổ phần dịch vụ Sonadezi (tên viết tắt là SDV) - một thành viên thuộc Tổng công ty Phát triển Khu công nghiệp (Sonadezi) - được thành lập với sứ mệnh thực hiện công tác bảo vệ môi trường để hướng tới mục tiêu phát triển bền vững đối với các hoạt động xây dựng và vận hành các KCN do tổ hợp Sonadezi đầu tư nói riêng và các doanh nghiệp trên địa bàn tỉnh Đồng Nai nói chung. 
							br
							i Trong hơn 11 năm hoạt động, SDV đã từng bước lớn mạnh và khẳng định được vị thế trong lĩnh vực xử lý môi trường bằng năng lực “lõi” là dịch vụ xử lý nước thải tại các khu công nghiệp. Phát huy những thành quả đạt được từ dịch vụ xử lý nước thải, năm 2009, SDV đã tiến hành đầu tư Dự án Khu XLCT rắn tập trung có quy mô 130 ha tại xã Quang Trung, huyện Thống Nhất. Dự án KCL Chất thải Quang Trung, với số vốn đầu tư ban đầu tư khoảng 355 tỷ đồng (năm 2017, dự án đã được điều chỉnh tổng vốn đầu tư khoảng 650 tỷ). Đây được xem là bước ngoặt lớn, khởi đầu cho giai đoạn mở rộng lĩnh vực hoạt động, đa dạng hóa sản phẩm, dịch vụ bảo vệ môi trường của SDV. 
