.home-banner
	.rev_slider_wrapper
		.rev-slider
			ul
				li(data-transition="scaledownfromleft" data-param1="1")
					img(src="./img/banner/home.jpg", alt="")
				li(data-transition="scaledownfromleft" data-param1="2")
					img(src="./img/banner/home.jpg", alt="")
	.banner-icon
		img(src="./img/banner_icon_2.png", alt="")
