.home-banner
	.rev_slider_wrapper
		.rev-slider
			ul
				li(data-transition="boxslide")
					img(src="./img/banner/1.jpg", alt="")
				li(data-transition="boxslide")
					img(src="./img/banner/2.jpg", alt="")
	.banner-icon
		img(src="./img/banner_icon_2.png", alt="")