section.about-4
	.container
		h2.main-title Nguồn nhân lực
		.row.no-gutters
			.col-lg-6
				.textbox
					p SDV hiện có 140 cán bộ-công nhân viên, trong đó bao gồm 10 Thạc sĩ, 40 Kỹ sư & Cử nhân, 20 Cao đẳng công nghệ, 50 Trung cấp công nghệ và Kỹ thuật viên hoạt động trong các dịch vụ về kỹ thuật môi trường và tư vấn môi trường…. 
					br
					p Đây là đội ngũ CB-CNV đã được đào tạo chuyên sâu và giàu kinh nghiệm trong lĩnh vực môi trường về các chuyên ngành như :
			.col-lg-6
				.imgbox
					img(src="/img/about/6.jpg", alt="")
		.row.no-gutters
			.col-lg-6
				.textbox
					ul
						li Chuyên ngành Hóa công nghệ, Hóa phân tích,
						li Vi sinh,
						li Kỹ thuật công nghệ môi trường,
						li Kỹ thuật điện,
						li Xử lý nước thải và vận hành hệ thống xử lý nước thải,
						li Xử lý chất thải và vận hành hệ thống xử lý chất thải, ....
			.col-lg-6
				.imgbox
					img(src="/img/about/7.jpg", alt="")
