//- footer.footer
//- 	h2 THIS IS FOOTER asd
footer.cc-footer
	.container
		.row.top
			.col-12
				.footer-slider-wrapper
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								a(href="#")
									img(src="./img/footer/1.png", alt="")
							.swiper-slide
								a(href="#")
									img(src="./img/footer/1.png", alt="")
							.swiper-slide
								a(href="#")
									img(src="./img/footer/1.png", alt="")
							.swiper-slide
								a(href="#")
									img(src="./img/footer/1.png", alt="")
							.swiper-slide
								a(href="#")
									img(src="./img/footer/1.png", alt="")
							.swiper-slide
								a(href="#")
									img(src="./img/footer/1.png", alt="")
							.swiper-slide
								a(href="#")
									img(src="./img/footer/1.png", alt="")
					.swiper-pagination
						span.swiper-button-prev
						span.swiper-button-next
		.row.bottom
			.col-lg-5.info
				h4 Công ty Cổ phần Dịch vụ Sonadezi
				p Tầng 8, Tòa nhà Sonadezi, số 1, đường 1, KCN Biên Hòa 1, P. An Bình, Tp. Biên Hòa, Tỉnh Đồng Nai.    
				p ĐT: (0251) 8890 888 
				p Fax: (0251) 8890 199 
				p Email: sdv@sonadezi-sdv.com.vn
			.col-lg-4.quicklink
				h4 liên kết nhanh
				ul
					li
						a(href="#") Thông tin cổ đông
					li
						a(href="#") Tin tức
					li
						a(href="#") E-brochure
					li
						a(href="#") Hoá đơn điện tử
					li
						a(href="#") Liên hệ
			.col-lg-3
				.subscribe
					h2.module-title Đăng ký thành viên
					.ModuleContent
						input(type="text")
						button
				.social
					a.fab.fa-facebook-f
					a.fab.fa-youtube
					a.fab.fa-google-plus-g
		.row.no-gutters
			.col-12.copyright
				ul
					li
						a(href="#") Điều khoản sử dụng
					li
						a(href="#") Sitemap
				span 2018 Sonadezi SDV. All rights reserved. Designed by 
					a(href="https://canhcam.vn") Canh Cam
