section.home-1
	.container
		h2.home-title giới thiệu
		.row
			.col-xl-10.textbox
				p Công ty Dịch vụ Sonadezi phát triển cùng sứ mệnh trở thành công ty cung cấp dịch vụ cho khu công nghiệp uy tín và chất lượng hàng đầu trong khu vực. Với hơn 140 cán bộ nhân viên được đào tạo chuyên sâu - giàu kinh nghiệm, Sonadezi đang tạo nên thương hiệu riêng vững mạnh trong lĩnh vực xử lý môi trường nói riêng và dịch vụ tại khu công nghiệp nói chung.
			.col-xl-9.abilities
				h4 Năng lực cốt lõi
				.row.no-gutters
					.item.col-sm-6
						.imgbox
							img(src="/img/home/icon_1.png", alt="")
						.caption
							p Hệ thống 
								br
								| quản lý hiệu quả
					.item.col-sm-6
						.imgbox
							img(src="/img/home/icon_2.png", alt="")
						.caption
							p Chủ động 
								br
								| cải tiến, sáng tạo
					.item.col-sm-6
						.imgbox
							img(src="/img/home/icon_3.png", alt="")
						.caption
							p Trách nhiệm với 
								br
								| cộng đồng xã hội
					.item.col-sm-6
						.imgbox
							img(src="/img/home/icon_4.png", alt="")
						.caption
							p Hợp tác 
								br
								| phát triển bền vững
				.viewmore
					a.btn-viewmore(href="#") Xem thêm