section.home-1
	.container
		h2.home-title giới thiệu
		.row
			.col-xl-10
				p Công ty Dịch vụ Sonadezi phát triển cùng sứ mệnh trở thành công ty cung cấp dịch vụ cho khu công nghiệp uy tín và chất lượng 
				p hàng đầu trong khu vực. Với hơn 140 cán bộ nhân viên được đào tạo chuyên sâu - giàu kinh nghiệm, Sonadezi đang tạo nên 
				p thương hiệu riêng vững mạnh trong lĩnh vực xử lý môi trường nói riêng và dịch vụ tại khu công nghiệp nói chung.
