section.service-list
	.container
		h2.main-title Dịch Vụ
		.row
			.col-md-4.col-6
				a.item(href="#")
					figure
						.imgbox
							img(src="./img/service/1.jpg", alt="")
						figcaption
							h4 Xử lý nước thải
			.col-md-4.col-6
				a.item(href="#")
					figure
						.imgbox
							img(src="./img/service/1.jpg", alt="")
						figcaption
							h4 Xử lý chất thải
			.col-md-4.col-6
				a.item(href="#")
					figure
						.imgbox
							img(src="./img/service/1.jpg", alt="")
						figcaption
							h4 Kiểm soát và Phân tích thí nghiệm
			.col-md-4.col-6
				a.item(href="#")
					figure
						.imgbox
							img(src="./img/service/1.jpg", alt="")
						figcaption
							h4 Tư vấn môi trường
			.col-md-4.col-6
				a.item(href="#")
					figure
						.imgbox
							img(src="./img/service/1.jpg", alt="")
						figcaption
							h4 Dịch vụ khu công nghiệp
			.col-md-4.col-6
				a.item(href="#")
					figure
						.imgbox
							img(src="./img/service/1.jpg", alt="")
						figcaption
							h4 Dịch vụ khu công nghiệp